.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  max-width:600px;
  margin:0 auto;
  color: #262626;
  padding-left:20px;
  padding-right:20px;
}

* {
  margin: 0;
  padding: 0;

}

body {
  margin:0;
  background: #F8F9FA;
}

header {
  text-align:center;
  padding-top:15px;
  padding-bottom:15px;
  margin-bottom:20px;
  background: #FFFFFF;
}

h1,h2,h3,h4 {
  font-weight: normal;
}

header h1 {
  color:#262626;
  font-size: 23pt;
}

.cityselect select {
  font-size:13pt;
  width:100%;
  border: 2px #E6E6E6 solid;
  border-radius:7px;
  padding:15px 20px;
  webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url(./img/caret-down.svg);
  background-repeat: no-repeat;
  background-position: center right 20px;
  background-size: 12px;
  margin-bottom: 20px;
}

.currentWeather {
  margin: 0 auto;
  background: #FFFFFF;
  border-radius: 7px;
  max-width:100%;
  padding:20px 20px;
  text-align:left;
  border: 0.12em #E6E6E6 solid;
  display: flex;
  justify-content: space-between;
  margin-bottom:10px;
}

.currentLocation {
  font-size:19pt;
  text-align:left;
}

.description {
  font-size:13pt;
  color:#70757A;
}

.currentDate {
  font-size:15pt;
  display: block;
}

.currentTime {
  font-size:13pt;
  color:#70757A;
  display: block;
}

.currentWeather .top {
  margin-bottom:40px;
}

.currentWeather .right {
  float:right;
}

.currentTemperature {
  text-align: right;
  font-size:26pt;
  float:right;
}

.extraInfo {
  text-align: right;
  font-size:13pt;
  color:#70757A;
}

.weatherIcon {
  float:left;
  margin:-13% 0;
}

.half {
  display:flex;
  flex-direction: column;
}

.forecastCards {
  display:flex;
  flex-direction: row;
  width:100%;
  justify-content: space-between;
}

.forecastCard {
  flex-grow:1;
  border: 0.12em #E6E6E6 solid;
  border-radius:6px;
  background:#FFFFFF;
  width:auto;
  margin-bottom:25px;
  padding-top:15px;
  margin-right:5px;
}

.forecastCard:last-child {
  margin-right: 0;
}

.forecastTime {
  color: #70757A;
}

.forecastTemp {
  font-size:15pt;
  color:#70757A;
}

.forecastExtra {
  background: #E5F6FD;
  margin-top:10px;
  padding-bottom:5px;
  padding-top:5px;
}

.forecastExtra p {
  font-size: 10pt;
  color: #70757A;
}